.container {
    background-color: #f6f6f7;
    padding: 10px;
    .header {
        margin: 5px;
       .heading {
           font-weight: 700;
       }
       .sub_heading {
           font-size: 10px;
       }
    }
    .content{
        display: flex;
        justify-content: space-between;
        flex: 1;
        flex-wrap: wrap;
        align-items: flex-start;
        .img_container {
            width: 300px;
            background-color: white;
            border-radius: 2%;
            border: 0.01px solid lightgrey;
            margin: 5px;
            img {
                width: 300px;
                height: 300px;
                border-radius: 2% 2% 0 0;
            }
            .img_info{
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 10px;
            }
            .liked {
                background-color: hotpink;
            }
        }
    }
}